<% include ./../partials/header %>
<div class="uk-margin-medium-top uk-margin-xlarge-left uk-margin-xlarge-right">
    <h3>Waiters</h3>
    <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th>Waiter ID</th>
                <th>Waiter Name</th>
                <th>Date Of Birth</th>
                <th>Mobile Number</th>
                <th>Gender</th>
                <th>Salary (in INR)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i<waiters.length; i++){ %>
            <tr>
                <td>
                    <%= waiters[i].waiterId %>
                </td>
                <td>
                    <%= waiters[i].waiterName %>
                </td>
                <td>
                    <%= waiters[i].dateOfBirth %>
                </td>
                <td>
                    <%= waiters[i].mobileNumber %>
                </td>
                <td>
                    <% if(waiters[i].gender == 1){ %>
                    <p>Male</p>
                    <% } else {%>
                    <p>Female</p>
                    <% } %>
                </td>
                <td>
                    <%= waiters[i].salary %>
                </td>
                <td>
                    <form method="POST" action="/waiter/delete">
                        <input type="hidden" name="waiterId" value="<%= waiters[i].waiterId %>">
                        <button type="submit" class="uk-icon-link" uk-icon="trash"></button>
                    </form>
                </td>
            </tr>
            <% } %>

        </tbody>
    </table>

</div>

<% include ./../partials/footer %>