<% include ./../partials/header %>
<div class="uk-margin-medium-top uk-margin-xlarge-left uk-margin-xlarge-right">
    <h2 class="uk-heading-divider">Student Details</h2>
    <table class="uk-table uk-table-striped">
        <tbody>
            <tr>
                <td>Name</td>
                <td>
                    <%= student.studentName %>
                </td>
            </tr>
            <tr>
                <td>Registration Number</td>
                <td>
                    <%= student.registrationNumber %>
                </td>
            </tr>
            <tr>
                <td>Date Of Birth</td>
                <td>
                    <%= student.dateOfBirth %>
                </td>
            </tr>
            <tr>
            <td>Gender</td>
                    <% if(student.gender == 1){ %>
                        <td> Male </td>
                    <% } else{ %>
                        <td> Female </td>
                    <% } %>
            </tr>
            <tr>
                <td>Branch</td>
                <td>
                    <%= student.branch %>
                </td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td>+91
                    <%= student.mobileNumber %>
                </td>
            </tr>
            <tr>
                <td>Room Details</td>
                <td>
                    <%= student.hostelBlock %>
                    <%= student.roomNumber %>
                </td>
            </tr>
            <tr>
                <td>Monthly Balance Left</td>
                <td>
                    <%= student.balance %>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="uk-heading-divider">Orders by <%= student.studentName %></h2>

        <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Time</th>
                <th>Delivery Time</th>
                <th>Total Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <% for(let i=0; i<orders.length; i++){ %>
            <tr>
                <td>
                    <%= orders[i].orderId %>
                </td>
                <td>
                    <%= orders[i].orderTime %>
                </td>
                <td>
                    <%= orders[i].deliveryTime %>
                </td>
                <td>
                    <%= orders[i].totalAmount %>
                </td>
                <td>
                    <a href="/order/<%= orders[i].orderId %>" class="uk-icon-link" uk-icon="info"></a>
                </td>
            </tr>
            <% } %>

        </tbody>
    </table>

    <h2 class="uk-heading-divider">Feedbacks by <%= student.studentName %></h2>

        <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th>Feedback ID</th>
                <th>Review Timestamp</th>
                <th>Review</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i<feedbacks.length; i++){ %>
            <tr>
                <td>
                    <%= feedbacks[i].feedbackId %>
                </td>
                <td>
                    <%= feedbacks[i].reviewTime %>
                </td>
                <td>
                    <%= feedbacks[i].review %>
                </td>
                <td>
                    <% for(let j=0; j<feedbacks[i].rating; j++){ %>
                        <span uk-icon="star"></span>
                    <% } %>
                </td>
            </tr>
            <% } %>

        </tbody>
    </table>

</div>

<% include ./../partials/footer %>